/* =========================================== BODY =========================================== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 80%);
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 0 150px 0;
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  color: #70c62f;
}

/* =========================================== GENERAL INPUT =========================================== */
input[type=button], input[type=submit] {
  color: #70c62f;
  border: 2px solid #70c62f;
  background-color: hsl(0, 0%, 10%);
  text-decoration: none;
  padding: 7px 20px;
  margin: 5px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
input[type=button]:hover, input[type=submit]:hover {
  cursor: pointer;
  color: hsl(0, 0%, 10%);
  background-color: #70c62f;
}
input[type="text"], input[type="password"] {
  margin: 10px 10px 10px 0;
}
textarea {
  margin: 10px 10px 10px 0;
  width: 78%;
  height: 75px;
  resize: none;
}
.invalid {
  border: 1px solid red;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  text-align: center;
}

/* =========================================== NAVBAR =========================================== */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(0, 0%, 10%);
  color:hsl(0, 0%, 80%);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid hsl(0, 0%, 80%);
  transition: bottom 0.3s;
}
.nav-icon a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:hsl(0, 0%, 90%);
  text-decoration: none;
  margin: 15px 0 0 0;
}
.nav-icon img:nth-child(2) {
  display: none;
}
.active, .active a, .nav-icon:hover, .nav-icon:hover a {
  color: #70c62f;
  cursor: pointer;
}
.active img:nth-child(1), .nav-icon:hover img:nth-child(1) {
  display: none;
}
.active img:nth-child(2), .nav-icon:hover img:nth-child(2) {
  display: initial;
}
.scroll {
  bottom: -120px;
}

/* =========================================== TESLA =========================================== */
.tesla-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
}
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0 10px 0 0;
  height: 85px;
}
.login-labels label {
  margin: 10px 0;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 85px;
}
.user-info, .module-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-info .info, .module-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.user-info .info p {
  margin: 8px 20px;
}
.user-info .edit-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.edit-info input[type="text"] {
  margin: 8px 20px;
}
.home-units {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.module-info .info p {
  margin: 8px 20px;
}

/* =========================================== TICKETS =========================================== */
.tickets-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
}
.ticket-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ticket-form .labels {
  height: 158px;
  margin: 0 10px 0 0;
}
.ticket-form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 150px;
}
#description {
  width: 91%;
}
.tickets {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
}
.ticket-ids, .ticket-titles, .ticket-opens {
  width: 34%;
}
.ticket-ids p, .ticket-titles p, .ticket-opens p {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.ticket-ids p:nth-child(even), .ticket-titles p:nth-child(even), .ticket-opens p:nth-child(even) {
  background-color: hsl(0, 0%, 20%);
}

/* =========================================== REFERRALS =========================================== */
.referrals-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.referrals-page p {
  text-align: center;
}
.referral-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.required {
  color: hsl(0, 100%, 50%);
}

/* =========================================== CONTACT =========================================== */
.contact-page, .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blurred {
  filter: brightness(50%);
}
.contact-page p {
  margin: 5px 0;
}
.contact-page h3, .contact-page input[type="button"] {
  margin: 50px 0 0 0;
}
.drop-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: hsl(0, 0%, 20%);
  position: fixed;
  top: 20%;
  border-radius: 2%;
}
.drop-line h3 {
  margin: 10px 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#message {
  width: 91%;
}
.contact-inputs input {
  margin: 20px 10px;
  background-color: hsl(0, 0%, 20%);
}